body {
    font-family: Medium;
    background-color: #f5f5f5;
}

* {
    transition: all .3s ease-in-out;
}

@font-face {
    font-family: Medium;
    src: url(../fonts/DMSans_Medium.ttf);
}

@font-face {
    font-family: Bold;
    src: url(../fonts/DMSans_Bold.ttf);
}

@font-face {
    font-family: Regular;
    src: url(../fonts/DMSans_Regular.ttf);
}

.Bold {
    font-family: Bold;
}

.Regular {
    font-family: Regular;
}

/* scroll */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #F3FDF3 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3D8E41;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* font-size */
.f-14 {
    font-size: 14px;
}

.f-17 {
    font-size: 17px;
}

.f-23 {
    font-size: 23px;
}

.f-25 {
    font-size: 25px;
}

/* colors */
.default-color {
    color: #14A077 !important;
}

.second-color {
    color: #707070;
}

/*  */
ul li {
    list-style-type: none;
}

.jobCard {
    border-radius: 5px;

    border: 1px solid #F0F0F0;
}

.jobCard .job-logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.jobCard .badge {
    background-color: #F7F7F7;
    border-radius: 4px;
    color: #707070;
    font-size: 13px;
    padding: 6px 12px;
    margin-inline-end: 5px;
    font-family: 'Regular';
    margin-block: 2px;
}

.jobCard:hover .badge {
    background-color: #FFFFFF
}

.jobInfo {
    padding: 35px 35px 30px 35px;
    border-bottom: 1px solid #F0F0F0;
}

.jobDescription span {
    color: #707070;
    font-family: Regular;
    font-size: 16px;
}

.jobDescription {
    padding: 15px 35px 25px 35px;
}

.jobDescription span:after {
    content: "-";
    color: #707070;
    margin-inline: 10px;
}

.jobDescription span:last-child:after {
    display: none
}

.jobCard:hover {
    background-color: #F3FDF3 !important;
    border: 1px solid #48A74C;
}

.jobCard .fav-btn {

    font-size: 21px;
    color: #C4C3C3;
    transition: color 0.2s;
}

.jobCard .fav-btn:focus {
    box-shadow: none;
}

.jobCard .fav-btn.active i {
    color: #ff4081;
}

.favButton {
    position: absolute;
    right: 25px;
    top: 30px;
    border: .7px solid #C4C3C3;
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
}

.alertBlock {
    background-color: #3D8E41;
    border-radius: 5px;
    padding: 20px 35px;
    border: 1px solid #E9E9E9;
    color: #fff;
}

.toggleSideMenu {
    width: 57px;
    background-color: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 2.34px;
    color: #6B6B6B;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-start: 10px;
}

.form-switch .form-check-input:checked {
    background-color: #C4C3C380;
    border-color: #C4C3C380;
}

.form-switch .form-check-input {

    height: 35px;
    width: 55px;
    margin-inline-start: 10px;
}

.form-check-input:focus {
    box-shadow: none;
    border-color: transparent
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}

.form-switch label {
    font-size: 21px;
}

.page-link {
    position: relative;
    display: block;
    color: #707070;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #C4C3C3;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-inline: 6px;
    border-radius: 4px;
    background: transparent;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 100%;
}

.page-link:focus,
.page-link:hover {
    color: #707070 !important;
}

.page-link:focus {
    box-shadow: none;
}

.page-item.active a {
    background-color: #48A74C !important;
    border-color: #C4C3C3 !important;
}

.sorting-block {
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    padding: 10px;
    width: max-content;
    position: relative;

}

.sorting-block .wrapper .title {
    font-weight: 500;
    font-size: 20px;
    font-family: Medium;
}

.sorting-block .select_wrap {
    width: max-content;
    margin: 0;
    user-select: none;
    color: #707070;
}

.sorting-block.active {
    background-color: #fff;
    border: 1px solid #D8D8D8;
    border-radius: 5px 5px 0 0;
}

.sorting-block .select_wrap .default_option {
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #48A74C;
}

.select_wrap .default_option li {
    padding: 10px 20px;
    list-style-type: none;
}

.select_wrap .default_option:before {
    content: "\f107";
    position: absolute;
    top: 10px;
    right: 0px;

    transform: rotate(0deg);
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.sorting-block .select_wrap .select_ul {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    display: none;
    z-index: 999;
    padding: 0;
    border: 1px solid #D8D8D8;
    border-radius: 0 0 11px 11px;
}

.select_wrap .select_ul li {
    padding: 10px 20px;
    cursor: pointer;
    list-style-type: none;
    font-size: 18px;
    font-family: Regular;
}

.select_wrap .select_ul li:hover {
    background: #F0F0F0;
    color: #48A74C;
}

.select_wrap .option {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.sorting-block .title h5 {
    font-size: 18px;
    margin-bottom: 0;
}

.select_wrap.active .select_ul {
    display: block;
    overflow: hidden;
}

.select_wrap.active .default_option:before {
    top: 10px;
    transform: rotate(180deg);
}

.menu-header img.settingsIcon {
    width: 26px;
    height: 26px;
}

.menu-header {
    border-bottom: 1px solid #E9E9E9;
}

.sideMenuLinks li {
    margin-block: 5px;
}

.sideMenuLinks>li.nav-item>.nav-link {
    background-color: #F7F7F7;

    text-decoration: none;
    color: #404040;
    font-size: 22px;
    padding: 16px 24px;
    position: relative;
}

.SideMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
}

.sideMenuLinks>li.nav-item>.nav-link i {
    font-size: 13px;
    position: absolute;
    right: 22px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
}

.nav-link i {
    transform: rotate(180deg);
}

.collapsed i {
    transform: rotate(0deg);
}

.nav-item ul a {
    font-size: 19px;
    color: #404040;
}
.nav-item ul a:hover{
    color: #3D8E41;
}
/* media query */
@media only screen and (max-width: 768px) {
    body {
        background-color: #faffff;
    }

    .f-17 {
        font-size: 11px;
    }

    .f-25 {
        font-size: 14px;
    }

    .jobCard .job-logo {
        width: 33px;
        height: 33px;
    }

    .jobDescription span {
        font-size: 11px;
    }

    .jobCard .badge {
        font-size: 9px;
    }

    .jobInfo {
        padding: 20px 20px 15px 20px;
    }

    .jobDescription {
        padding: 5px 20px 10px 20px;
    }

    .jobCard .fav-btn {
        font-size: 15px;

    }

    .jobInfo h3 {
        margin-bottom: 5px;
    }

    .favButton {
        width: 35px;
        height: 35px;
        right: 20px;
        top: 20px;
    }

    .alertBlock {
        padding: 10px 15px;
        border-radius: 2.34px;

    }

    .alertBlock .f-23 {
        font-size: 12px;
        font-weight: 700;
    }

    .alertBlock .form-switch label {
        font-size: 11px;
    }

    .alertBlock .form-switch .form-check-input {
        height: 18px;
        width: 36px;
    }

    .page-link {
        font-size: 13px;
    }
}